  <tr>
    <td colspan="2" class="style2">Enter your account's email address below, and your password will be automatically emailed to you.<br /><br />
      <!-- $BeginBlock error -->
	  <table width="68%" border="0" align="center">
        <tr>
          <td><span class="style8">Error:</span> ${error}</td>
        </tr>
      </table>
	  <!-- $EndBlock error -->
      <br />
      <form id="form1" name="form1" method="post" action="${phpself}">
        <table width="40%" border="0" align="center">
          <tr>
            <td width="26%" class="style5">Email:</td>
            <td width="74%"><input name="email" type="text" id="email" /></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td><input type="submit" name="Submit" value="Submit" /></td>
          </tr>
        </table>
      </form>
      <br />
      <br />
      <br />      <br /></td>
  </tr>