  <tr>
    <td colspan="2" class="style2">Please use the below form to login to the user panel. This is not a login to the protected area! To access the protected area, <a href="${protected_url}">click here</a>. Logging in here will allow you to modify your account information.<br />
        <br />
		<!-- $BeginBlock error --> 
		<table width="77%" height="24" border="0" align="center">
          <tr>
            <td height="20">
            <span class="style8">Error:</span> <span class="style2">${error}</span>
            </td>
          </tr>
        </table>
		<!-- $EndBlock error -->
      <br />
      <form id="form1" name="form1" method="post" action="${phpself}">
      <table width="50%" border="0" align="center">
        <tr>
          <td width="44%"><strong>Username:</strong></td>
          <td width="56%"><input name="username" type="text" id="username" /></td>
        </tr>
        <tr>
          <td><strong>Password:</strong></td>
          <td><input name="password" type="password" id="password" /></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><input type="submit" value="Login" /></td>
        </tr>
      </table>
	  </form>
      <div align="center">
      <a href="register.php">Register for an Account</a> <br />
      <a href="./forgotpass.php">Forgot Password</a><br />
      <!-- $BeginBlock activation_enabled --><a href="./resendcode.php">Resend Activation Code</a><!-- $EndBlock activation_enabled -->
      </div>
      <br />
      <br />      
      <br />
    </td>
  </tr>
